/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Fonts and colors
2.0 - Basic
3.0 - Media Query
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Fonts and Colors
--------------------------------------------------------------*/
$primary-color: #444;

/*--------------------------------------------------------------
2.0 - Basic
--------------------------------------------------------------*/
body {
	background: #f3f3f3;
	font: 400 16px 'Scope One', serif;
}

.modal-legal {
	.modal-body {
		font-size: 0.8em;
		max-height: 400px;
		overflow: scroll;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: 10px;
	}
}

h2, h3 {
	margin-top: 0;
}

hr {
	border-color: black;
}

#vnll {
	background: $primary-color;
	border-radius: 4px 0 0 4px;
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 14px;
	float: right;
	padding: 2px 9px;
	position: absolute;
	right: 0;
}

.text-hidden {
	display: block;
	height: 0;
	text-indent: -99999em;
}

/* header */
#logo {
	font: bold 5em 'Libre Baskerville', serif;
	margin-bottom: 30px;
	
	small {
		display: block;
		font-size: 0.22em;
		margin-top: -15px;
	}
}
.header p {
	display: inline-block;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
	vertical-align: top;
}

/* leitura */
#select-text { 
	float: left;
}
.actions {
	float: left;
	margin-left: 10px;
}
.play {
	display: inline-block;
	margin-left: 5px;
}

.dropdown {
	display: inline-block;

	.dropdown-menu  {
		span {
			background: $primary-color;
			border-radius: 5px;
			color: white;
			font-size: 10px;
			padding: 4px;
		}

		>li:not(.divider) {
			font-weight: bold;
			padding: 3px 7px;
		}

		> li > a {
			cursor: pointer;
			padding: 3px 25px;
		}
		> li > a.selected {
			text-decoration: underline;
		}
	}
}

.stop {
	float: right;
}

.known-average {
	
	clear: both;

	.form-group {
		display: inline-block;
	}

	label {
		display: block;
	}

	.form-control {
		width: 100%;
	}

	:before {
		clear: both;
		content: " ";
		display: inline-block;
		margin-top: 10px;
	}
}

#reading-box {
	opacity: 0.2;
	margin-top: 30px;

	p {
		font-size: 1em;
	}
}

.alert-average {
	margin: 0
}

/* sobre seu livro*/
.about-book {
	background: none;
}

.form-group {

}

.message-content {
	margin-top: 50px;
}

.footer {
	border-top: 1px solid #ddd;
	margin: 50px 0 0;
	padding: 30px 15px;
}



/*--------------------------------------------------------------
3.0 - Media Query
--------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	#logo {
		font-size: 3em;
	}
		#logo small {
		margin-top: -10px;
	}

	.header p {
		display: block;
		font-size: 1.2em;
		width: auto;
	}
}

/* Medium devices (desktops, 769px and up) */
@media screen and (min-width: 769px) {  
	.known-average {		
		button {
			vertical-align: bottom;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	
}

